.todo {
  padding: var(--spacing-300);
  word-break: break-all;
}

.todo > div {
  width: 100%;
}

.todo__text-wrapper {
  width: 100%;
}

.todo__horizontal-line {
  height: 1px;
  opacity: 0.175;
}

.todo__text {
  cursor: grab;
}

.todo__text--deleted {
  color: var(--clr-deleted-text);
  text-decoration: line-through;
}

.todo__btn-delete {
  background: transparent;
  border: none;
  cursor: pointer;
}
