.todo-app-section {
  padding-top: var(--spacing-400);
  position: relative;
}

.todo-app-section::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 16rem;
  background-image: url("../../assets/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media (min-width: 48em) {
  .todo-app-section::before {
    height: 20rem;
  }

  .todo-app-section::before {
    background-image: url("../../assets/bg-desktop-light.jpg");
  }
}

.dark-theme .todo-app-section::before {
  background-image: url("../../assets/bg-mobile-dark.jpg");
}

@media (min-width: 48em) {
  .dark-theme .todo-app-section::before {
    background-image: url("../../assets/bg-desktop-dark.jpg");
  }
}

.todo-app > p {
  margin-top: var(--spacing-300);
  color: var(--clr-text-secondary);
}
