.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--very-dark-grayish-blue);
  white-space: nowrap;
  transition: all 0.3s ease;
  font-weight: 700;
}

.btn.selected {
  color: var(--clr-active);
}

.btn:hover {
  color: var(--clr-hover);
}
