.btn {
  background: transparent;
  border: none;
  font-size: 16px !important;
  cursor: pointer;
  color: var(--very-dark-grayish-blue);
  white-space: nowrap;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--white);
}
