.form__input {
  color: var(--white);
  width: 100%;
  font-size: 18px;
  background-color: transparent;
  padding: 0.25rem;
  border: none;
}

.form__input:focus {
  outline: none;
}

.form {
  padding: 1.25rem;
  background-color: var(--very-dark-desaturated-blue);
  border: none;
  border-radius: 0.25rem;
  margin-block: 2rem;
}

.form__input::placeholder {
  color: var(--light-grayish-blue-1);
}
