.form {
  padding: 1.25rem;
  background-color: var(--clr-card);
  border-radius: 0.25rem;
  margin-block: clamp(1.75rem, 5vw, 2.25rem);
}

.form__input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  padding: 0.25rem;
  border: none;
}

.form__input:focus {
  outline: none;
}
