.form {
  padding: var(--spacing-100);
  background-color: var(--clr-card);
  border-radius: var(--border-radius);
}

.form__input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  padding: 0.25rem;
  border: none;
}

.form__input:focus {
  outline: none;
}
