.todos__summary {
  background-color: var(--clr-card);
  padding: var(--spacing-200);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.todos__summary > p {
  color: var(--clr-text-secondary);
}
