:root {
  /* Font Family */
  --font-josefin-sans: "Josefin Sans", sans-serif;

  /* Colors */
  --clr-body-bg: hsl(0, 0%, 95%);
  --clr-text-primary: hsl(235, 24%, 19%);
  --clr-text-secondary: hsl(234, 11%, 52%);
  --clr-title: hsl(0, 0%, 95%);
  --clr-deleted-text: hsl(234, 39%, 85%);
  --clr-card: hsl(0, 0%, 100%);
  --clr-checkbox-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --clr-checkbox-border: hsl(234, 11%, 52%);
  --clr-active: hsl(220, 98%, 61%);
  --clr-hover: hsl(233, 14%, 35%);
  --clr-icon: hsl(235, 24%, 19%);

  /* Text Sizes */
  --text-300: 2rem;
  --text-200: 1rem;
  --text-100: 0.9375rem;

  /* Spacing */
  --gap-100: clamp(0.75rem, 3vw, 1rem);
  --gap-200: clamp(1rem, 4vw, 2rem);
  --flow-space: 1rem;

  /* Border-Radius  */
  --border-radius-100: 0.5rem;
}

@media (min-width: 32em) {
  :root {
    --text-300: 2.5rem;
    --text-200: 1.125rem;
    --text-100: 1rem;
  }
}

.dark-theme {
  --clr-body-bg: hsl(235, 21%, 11%);
  --clr-text-primary: hsl(0, 0%, 100%);
  --clr-deleted-text: hsl(233, 14%, 35%);
  --clr-card: hsl(235, 24%, 19%);
  --clr-hover: hsl(0, 0%, 100%);
  --clr-icon: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-josefin-sans);
  background-color: var(--clr-body-bg);
  color: var(--clr-text-primary);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

/* Hiding animations */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Visually Hidden Utility Class */
.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Utility Classes */
/* Flexbox Utility */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.place-content-center {
  place-content: center;
}

.place-items-center {
  place-items: center;
}

/* Gap Utility Class */
.gap-100 {
  gap: var(--gap-100);
}

.gap-200 {
  gap: var(--gap-200);
}

/* Font Sizes */
.text-300 {
  font-size: var(--text-300);
}

.text-200 {
  font-size: var(--text-200);
}

.text-100 {
  font-size: var(--text-100);
}
