:root {
  /* Font Family */
  --font-josefin-sans: "Josefin Sans", sans-serif;

  /* Colors */
  --clr-body-bg: hsl(0, 0%, 95%);
  --clr-text-primary: hsl(235, 24%, 19%);
  --clr-text-secondary: hsl(234, 11%, 52%);
  --clr-title: hsl(0, 0%, 95%);
  --clr-deleted-text: hsl(234, 39%, 85%);
  --clr-card: hsl(0, 0%, 100%);
  --clr-checkbox-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --clr-checkbox-border: hsl(234, 11%, 52%);
  --clr-active: hsl(220, 98%, 61%);
  --clr-hover: hsl(233, 14%, 35%);
  --clr-icon: hsl(235, 24%, 19%);

  /* Text Sizes */
  /* 32 -> 40, 16 -> 18, 15 -> 16 */
  --fs-300: clamp(2rem, calc(1.83rem + 0.87vw), 2.5rem);
  --fs-200: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --fs-100: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);

  /* Spacing */
  /* 48 -> 80, 24 -> 32, 20 -> 24, 16 -> 18, */
  --spacing-400: clamp(3rem, calc(2.3rem + 3.48vw), 5rem);
  --spacing-300: clamp(1.5rem, calc(1.33rem + 0.87vw), 2rem);
  --spacing-200: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --spacing-100: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);

  --gap: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --flow-space: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);

  /* Border-Radius  */
  --border-radius: 0.5rem;
}

.dark-theme {
  --clr-body-bg: hsl(235, 21%, 11%);
  --clr-text-primary: hsl(0, 0%, 100%);
  --clr-deleted-text: hsl(233, 14%, 35%);
  --clr-card: hsl(235, 24%, 19%);
  --clr-hover: hsl(0, 0%, 100%);
  --clr-icon: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-josefin-sans);
  background-color: var(--clr-body-bg);
  color: var(--clr-text-primary);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

/* Hiding animations */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Visually Hidden Utility Class */
.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Utility Classes */
.flow > * + * {
  margin-top: var(--flow-space);
}

/* Flexbox Utility */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.place-content-center {
  place-content: center;
}

.place-items-center {
  place-items: center;
}

/* Gap Utility Class */
.gap {
  gap: var(--gap);
}

/* Font Sizes */
.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

/* Text Align Center */
.text-center {
  text-align: center;
}
